@import "tailwindcss";

/* condigo abaixo temporario, fazer a manuteção */
.force-bebas {
  font-family: 'Bebas Neue', sans-serif !important;
}

.force-saira {
  font-family: 'Saira Condensed', sans-serif !important;
}

.force-inter {
  font-family: 'Inter', sans-serif !important;
}

.force-lora {
  font-family: 'Lora', sans-serif !important;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}


@layer utilities {
  .accommodation-imgbed {
    @apply relative left-25 bottom-[-90] w-[35%] h-80 rounded-xl overflow-hidden z-20 will-change-transform;
  }

  .accommodation-img {
    @apply relative h-[500px] w-full overflow-hidden;
  }

  .cards {
    @apply flex flex-col items-start text-left p-12 rounded-lg
         bg-white shadow-sm border-l-4 border-[#93804f]
         transition-all duration-300 hover:shadow-lg hover:translate-x-2 -mt-18;
  }

  .cards-h2 {
    @apply text-2xl font-bold mb-14 text-[#5C5032];
  }

  .cards-p {
    @apply text-base leading-relaxed max-w-prose mb-4 font-semibold text-gray-700;
  }
}
